<h1>{{ ordinateur.model }}</h1>
<p>Marque: {{ ordinateur.marque}} <br>
  Type: {{ ordinateur.typeOrdi }} <br>
  Catégorie: {{ ordinateur.categorie}}
</p>
<h2>Prix d'achat: {{ ordinateur.prixAchat }} €</h2>
<h2>Prix de vente: {{ ordinateur.prixVente }} €</h2>
<br>
<p>Date d'ajout: {{ ordinateur.dateEntree }}</p>
