.liste {
  display: flex;
  justify-content: space-around;
}

.art {
  width: 25%;
  color: black;
  margin-left: 1%;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
}

.persbtn {
  background-color: white;
  margin-left: 1%;
  border-radius: 5px;
}

.persbtn:hover {
  background-color: gray;
}
