<br>
<button class="persbtn" routerLink="/ordinateur/add">Ajouter un ordinateur</button>

<br>
<br>

<p>Nombres d'ordinateurs : {{ listeOrdinateurs.length }}</p>

<div class="liste">
  <div *ngFor="let ordinateur of listeOrdinateurs" class="art" style="...">
    <h1>{{ ordinateur.model }}</h1>
    <p>Marque: {{ ordinateur.marque}} <br>
      Type: {{ ordinateur.typeOrdi }} <br>
      Catégorie: {{ ordinateur.categorie}}
    </p>
    <h2>Prix d'achat: {{ ordinateur.prixAchat }} €</h2>
    <h2>Prix de vente: {{ ordinateur.prixVente }} €</h2>

    <button class="persbtn" [routerLink]="['/ordinateur', ordinateur.id]">Details</button>

    <button class="persbtn" [routerLink]="['/edit-ordinateur', ordinateur.id]">Modifier</button>
    <button class="persbtn" (click)="deleteOrdinateur(ordinateur.id)">Supprimer</button>

    <br>
    <br>

    <p>Date d'ajout: {{ ordinateur.dateEntree }}</p>
</div>
