<div>
  <h2> Modifer un ordinateur : </h2>

  <!-- formulaire Angular, fonction à lancer au submit -->
  <form #ordinateurForm="ngForm" (ngSubmit)="editOrdinateur()">

    <!-- [(ngModel)] pour attribuer la valeur à un attribut de l'objet, #truc pour  -->


    <!-- Model -->
    <label for="model">Model de l'ordinateur : </label>
    <input type="text" class="form-control" name="model" id="model" required [(ngModel)]="ordinateur.model" #model="ngModel">
    <br>
    <div [hidden]="model.valid" class="alert alert-danger">
      Le model de l'ordinateur est requis
    </div>

    <!-- Marque -->
    <div>
      <label for="marque">Marque de l'ordinateur : </label> <br>
      <input type="radio" value="Dell" name="marque" id="marque" [(ngModel)]="ordinateur.marque" required #marque="ngModel"> Dell
      <br>
      <input type="radio" value="HP" name="marque" id="marque" [(ngModel)]="ordinateur.marque" required #marque="ngModel"> HP
      <br>
      <input type="radio" value="Apple" name="marque" id="marque" [(ngModel)]="ordinateur.marque" required #marque="ngModel"> Apple
      <br>
      <input type="radio" value="Asus" name="marque" id="marque" [(ngModel)]="ordinateur.marque" required #marque="ngModel"> Asus
      <br>
    </div>
    <br>

    <!-- Type -->
    <div>
      <label for="type">Type de l'ordinateur</label> <br>

      <select name="type" id="type" [(ngModel)]="ordinateur.typeOrdi" required #typeOrdi="ngModel">
        <option value="">Veuillez saisir un type</option>
        <option value="portable">portable</option>
        <option value="fixe">fixe</option>
        <option value="tablette hybride">tablette hybride</option>
      </select>
    </div>

    <!-- Categorie -->
    <div>
      <label for="categorie">Catégorie de l'ordinateur : </label> <br>
      <input type="radio" value="Gaming" name="categorie" id="categorie" [(ngModel)]="ordinateur.categorie" required #categorie="ngModel"> Gaming
      <br>
      <input type="radio" value="HP" name="categorie" id="categorie" [(ngModel)]="ordinateur.categorie" required #categorie="ngModel"> Fixe
      <br>
      <input type="radio" value="Apple" name="categorie" id="categorie" [(ngModel)]="ordinateur.categorie" required #categorie="ngModel"> Premier prix
      <br>
    </div>
    <br>

    <!-- Prix d'achat -->
    <label for="prixAchat">Prix d'achat de l'ordinateur : </label>
    <input type="number" class="form-control" name="prixAchat" id="prixAchat" required [(ngModel)]="ordinateur.prixAchat" #prixAchat="ngModel">
    <br>
    <div [hidden]="prixAchat.valid" class="alert alert-danger">
      Le prix d'achat de l'ordinateur est requis
    </div>
    <br>

    <!-- Prix de vente -->
    <label for="prixvente">Prix de vente de l'ordinateur : </label>
    <input type="number" class="form-control" name="prixVente" id="prixVente" required [(ngModel)]="ordinateur.prixVente" #prixVente="ngModel">
    <br>
    <div [hidden]="prixVente.valid" class="alert alert-danger">
      Le prix de vente de l'ordinateur est requis
    </div>
    <br>

    <input [disabled]='!ordinateurForm.valid' id="submitordinateur" type="submit" value="Envoyer">
  </form>
</div>
